.input-button {
    background: #fff;
    border: 1px solid #eee;
    padding: 5px 10px;
    color: #555;
}

.input-button:hover {
    background: #337ab7;
    border: 1px solid #337ab7;
    color: #fff;
}

.input-search {
    width: 45%;
    border: 1px solid #eee;
    padding: 5px;
}