<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CoreyBlog</title>
    <link rel="shortcut icon" href="../icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.min.css">
    <script src="../vendor/jquery-1.7.min.js"></script>
</head>
<body>
<header style="position:fixed;top:0;left:0;z-index: 100;width:100%;height:55px;">
    <div style="line-height:50px;background: #3b4348;">
        <nav class="container" style="padding:0;">
            <div class="col-lg-5 col-sm-5">
                <a href="#">
                    <img src="../img/man.png" alt="logo" style="width:35px;border-radius:35px;">
                </a>
                <span style="color:#fff;margin-left:10px;">Corey's Blog</span>
            </div>
            <div class="col-lg-7 col-sm-7">
                <ul class="nav navbar-nav navbar-right">
                    <li style="background: #fff"><a href="../index.html" style="color:#169fe6">前端</a></li>
                    <li><a href="readList.html" style="color:#fff">读书</a></li>
                    <li><a href="connect.html" style="color:#fff">联系我</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div style="width:100%;height:5px;background: #fff;"></div>
</header>
<section style="width:100%;padding:0;margin-top:55px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <span style="display: block;margin-left:-50px;margin-top:10px;">当前所在位置：<a href="../index.html"
                                                                                          style="color:#169fe6">前端</a> \ Node.js 新手入门</span>
                <div style="margin-bottom:10px;">
                    <h3 style="color:#169fe6">Node.js 新手入门</h3>
                    <div style="line-height: 30px;margin-bottom:10px">
                        <img src="../img/man.png" alt="logo"
                             style="width:30px;border-radius:30px;margin-right:10px;">
                        <span style="margin-right:10px;">Corey's Blog</span>
                        <span style="margin-right:10px;">2017 年 8 月 12 日</span>
                        <span style="margin-right:10px;">
                                    <span style="padding:3px 5px;background: #00a8e6;color:#fff">技术</span>
                                    <span style="padding:3px 5px;background: #337ab7;color:#fff">前端</span>
                                </span>
                        <span style="margin-right:10px;">评论（<span>10</span>）</span>
                        <span style="margin-right:10px;">阅读（<span>110</span>）</span>
                    </div>
                    <img src="../img/slider-1.png" alt=""
                         style="width:100%;height:260px;margin-bottom:10px;display: block">
                </div>
                <div style="line-height: 30px;">
                    <p>最近几年，随着比特币的兴起并不断走高的价格，越来越多的投资者和机构开始对数字货币这一新兴概念产生了兴趣。由比特币创建并使用的区块链技术也获得了从创业公司到金融巨头的广泛关注和参与。
                    </p>
                    <p>自08年诞生的第一种数字货币——比特币，从一万个币换一个披萨到一个币单价近两万，比特币8年暴涨百万倍，其背后的区块链技术更是被各大金融巨头竞相研究。
                    </p>
                    <p>
                        郎咸平教授称比特币是彻头彻尾的金融骗局，各种山寨虚拟币诈骗也层出不穷。比特币究竟是虚拟资产还是庞氏骗局？在全球范围爆发的勒索病毒，黑客为何索要比特币？人民日报发文称比特币成了“数字黄金”，央行更是早就设立了数字货币研究所，并表示正在推进中国自己的数字货币系统。
                    </p>
                    <p>到底什么是数字货币？没有中心节点的数字货币却号称不可伪造，数字货币和区块链究竟是如何运行的？又会给未来的互联网金融以及其他行业带来哪些变化？和每个人息息相关的金融服务将来会运行在区块链之上吗？
                    </p>
                    <p>
                        马云说，对于新兴事物，绝大多数人第一看不见，第二看不起，第三看不懂，第四来不及。如果你对比特币等数字货币处于“看不懂”阶段，不想等到“来不及”阶段，作为国内首发的数字货币与区块链的视频教程，将为你深入浅出地介绍数字货币和区块链技术的运行原理，让你对挖矿、钱包、签名、密钥这些技术不再陌生。
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4" style="padding:20px;">
                <ul style="width:90%;padding:0">
                    <li style="list-style:none;padding:12px;border:1px solid #169fe6;background: #169fe6;font-size:18px;color:#fff;">
                        项目：
                    </li>
                    <li style="cursor:pointer;list-style:none;padding:12px;border:1px solid #ccc;border-top:none;font-size:14px;">
                        <a href="#" style="color:#999;">生物信息分析系统</a></li>
                    <li style="cursor:pointer;list-style:none;padding:12px;border:1px solid #ccc;border-top:none;font-size:14px;">
                        <a href="#" style="color:#999;">客车帮</a></li>
                    <li style="cursor:pointer;list-style:none;padding:12px;border:1px solid #ccc;border-top:none;font-size:14px;">
                        <a href="#" style="color:#999;">岱恩教育教学管理系统</a></li>
                    <li style="cursor:pointer;list-style:none;padding:12px;border:1px solid #ccc;border-top:none;font-size:14px;">
                        <a href="#" style="color:#999;">客户关系管理系统</a></li>
                </ul>
                <div id="flag" style="margin-top:20px;">
                    <span style="width:90%;display: block;padding:15px;border:1px solid #169fe6;background: #169fe6;font-size:18px;color:#fff;">标签：</span>
                    <a href="#"><span
                            style="display: inline-block;padding:5px 15px;background: #00a8e6;color:#fff;margin:10px 5px 0 5px;">技术</span></a>
                    <a href="#"><span
                            style="display: inline-block;padding:5px 15px;background: #337ab7;color:#fff;margin:10px 5px 0 5px;">前端</span></a>
                    <a href="#"><span
                            style="display: inline-block;padding:5px 15px;background: #00a8e6;color:#fff;margin:10px 5px 0 5px;">web</span></a>
                    <a href="#"><span
                            style="display: inline-block;padding:5px 15px;background: #337ab7;color:#fff;margin:10px 5px 0 5px;">Vue.js</span></a>
                    <a href="#"><span
                            style="display: inline-block;padding:5px 15px;background: #337ab7;color:#fff;margin:10px 5px 0 5px;">Native</span></a>
                    <a href="#"><span
                            style="display: inline-block;padding:5px 15px;background: #00a8e6;color:#fff;margin:10px 5px 0 5px;">React.js</span></a>
                </div>
                <ul style="margin-top:20px;width:90%;padding:0">
                    <li style="list-style:none;padding:15px;border:1px solid #169fe6;background: #169fe6;font-size:18px;color:#fff;">
                        推荐排行榜：
                    </li>
                    <li style="cursor: pointer;list-style:none;padding:15px;border:1px solid #ccc;border-top:none;font-size:16px;">
                        <a href="#" style="color:#999;">1. Node.js 新手入门</a></li>
                    <li style="cursor: pointer;list-style:none;padding:15px;border:1px solid #ccc;border-top:none;font-size:16px;">
                        <a href="#" style="color:#999;">2. Node项目的基本构建流程</a></li>
                    <li style="cursor: pointer;list-style:none;padding:15px;border:1px solid #ccc;border-top:none;font-size:16px;">
                        <a href="#" style="color:#999;">3. Nodejs初阶之express</a></li>
                    <li style="cursor: pointer;list-style:none;padding:15px;border:1px solid #ccc;border-top:none;font-size:16px;">
                        <a href="#" style="color:#999;">4. Join our team</a></li>
                    <li style="cursor: pointer;list-style:none;padding:15px;border:1px solid #ccc;border-top:none;font-size:16px;">
                        <a href="#" style="color:#999;">5. Node.js 新手入门</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<footer style="width:100%;line-height:50px;background: #3b4348;margin-top:15px;">
    <div class="container">
        <div class="col-lg-12" style="text-align:center;">
            <a style="color:#fff;font-size:16px;text-align:center;" href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备17001820号-2</a>
        </div>
    </div>
</footer>
<script type="text/javascript">
    //    function yes() {
    //        alert("点赞成功！");
    //    }
</script>
</body>
</html>